* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner-1 {
    text-align: right;
    background-image: url("images/banner/banner1.png");
    /* width: 100%;
    height: 800px;
    background-repeat: no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 280px;
    background-color: rgba(245, 245, 245, 0.699);
}

.banner-2 {
    text-align: right;
    background-image: url("images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 280px;
    background-color: rgba(245, 245, 245, 0.699);
}

.banner-3 {
    text-align: right;
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 280px;
    background-color: rgba(245, 245, 245, 0.699);
}

.information {
    padding-top: 216px;
    padding-right: 230px;
}

.believes {
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 60%;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.information-title {
    font-size: 65px;
    line-height: 76px;
    padding-left: 60%;
}

.btn-1 {
    color: white;
    background-color: orange;
    width: 160px;
    height: 64px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
}


/* For display flex */
.section-flex {
    display: flex;
}

.image-sizing {
    padding-top: 150px;
    padding-left: 250px;
}

.text-align-left {
    text-align: left;
    padding-left: 100px;
}

.font-size {
    padding-top: 370px;

    padding-right: 320px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.article-text-align-left {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 24px 320px 16px 0px;
}

.color {
    color: #16D887;
}

/* My Plan */
.my-plan {
    margin-top: 115px;
}

.my-plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.main-div {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 0 280px;
    text-align: center;
}

.div-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.div-paragraph {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Section for contact */
.contact {
    margin: 130px 300px 130px 380px;
    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.gradient-1 {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
}

.gradient-2 {
/* background-image: linear-gradient(to right, red , yellow); */
}

.gradient-3 {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
}

.contact-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.div-pading {
    padding: 60px 65px;
}

.btn-2 {
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    color: #F15B22;
    background-color: white;
    margin-top: 24px;

}

/* for footer */
.black-footer {
    width: 100%;
    height: 577px;
    background: #151414;
    margin-bottom: 5px;
}

.footer-main {
    display: flex;
}

.footer-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.section-footer {
    margin-top: 130px;
    margin-left: 350px;
}

.section-footer-1 {
    margin-top: 130px;
    margin-left: 350px;
    margin-right: 400px;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.paragraph {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-image {
    margin-top: 32px;
}

.Subscribe {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.input-email {
    padding-left: 20px;
    margin-bottom: 16px;
    width: 325px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #151414;
}

.footer-btn {
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    color: #F15B22;
    background-color: white;
}